@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gryffindor: rgb(145, 59, 60);
  --color-slytherin: rgb(51, 83, 38);
  --color-hufflepuff: rgb(230, 206, 57);
  --color-ravenclaw: rgb(60, 59, 78);
}

@layer base {
  :root[data-theme="gryffindor"] {
    --color-bkg: var(--color-gryffindor);
  }
  :root[data-theme="slytherin"] {
    --color-bkg: var(--color-slytherin);
  }
  :root[data-theme="hufflepuff"] {
    --color-bkg: rgb(109, 97, 23);
  }
  :root[data-theme="ravenclaw"] {
    --color-bkg: var(--color-ravenclaw);
  }
}

@layer utilities {
  .glow {
    box-shadow: 0 0 15px 5px rgba(000, 0, 000, 0.9);
  }
}
